*{
    margin: 0%;
    background-size: cover;
    background-image: url(7.jpg);
    background-position: center;
}
.h2{
    position: relative;
    top: 50px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}